body{
    background-color: #32c4f9;
}
*{
    box-sizing: border-box;
}

body{
    margin: 7;
}

/* style the header */
.header{
    background-color: #fe7362;
    padding: 20px;
    text-align: center; 
}

/* style the devider */
.dived{
    background-color: #2decd7;
    padding: 10px;
    text-align: center; 
}

/* style the top nav links */ 
.topnav a {
    float: left;
    display: block;
    color:#fe7362;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* style the top nav */
.topnav{
    overflow: hidden;
    background-color: #f3ce73;
}

/* change color on hover */
.topnav a:hover {
    background-color: #32c4f9;
    color: #fe7362;
}

/* active */
.active{
    background-color: #2decd7;
}

/* card */
.card {
    background-color: #fe7362;
    padding: 7px 10px;
    margin-top: 3px;
}

/* make two top columns */
.column {
    float: left;
    padding: 10px;
}

/* left column */
.column.left1 {
    width: 25%;
}

/* right column */
.column.right1 {
    width: 35%;
}

/* Create three equal columns that floats next to each other */
.column2 {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* style the floter */
.floter{
    background-color: #f3ce73;
    padding: 20px;
    text-align: center;
}

h2 {
  text-align: center;
}
h4 {
  text-align: center;
}
h2 {
  color: black;
}
h4 {
  color: black;
}

/* make four colums */
.column3 {
    float: left;
    width: 25%;
    padding: 15px;
}

/* clear floats after the colums */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* layout */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
