#myInput {
  background-color: #fe7362;
  color: #32c4f9;
  }
  
  #myUL {
    overflow: hidden;
    background-color: #f3ce73;
    width: auto;
    color: #fe7362;
}
  
  #myUL li :hover {
    background-color: #2decb7;
    width: auto;
    overflow: hidden;
    padding: 10px, 10px, 10px, 10px;
  }
  
body{
  background-color: #32c4f9;
}