body{
    background-color: #32c4f9;
}
*{
    box-sizing: border-box;
}

body{
    margin: 7;
}

/* style the header */
.header{
    background-color: #fe7362;
    padding: 20px;
    text-align: center;
}
/* style the top nav */
.topnav{
    overflow: hidden;
    background-color: #f3ce73;
}

/* style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #fe7362;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* change color on hover */
.topnav a:hover {
    background-color: #32c4f9;
    color: #fe7362;
}
/* active */
.active{
    background-color: #2decd7;
}

/* card */
.card {
    background-color: #fe7362;
    padding: 7px 10px;
    margin-top: 3px;
}
/* card */
.card1 {
    background-color: #2decd7;
    padding: 7px 10px;
    margin-top: 3px;
}
/* style the diver */
.dived{
    background-color: #2decd7;
    padding: 10px;
    text-align: center;
}
/* make two equal columns */
.column {
    float: center;
    width: 50%;
    padding: 10px;
    text-align: center;
}
/* make two equal columns */
.column1 {
    float: center;
    width: 50%;
    padding: 10px;
    text-align: center;
}
/* make two top columns */
.column {
    float: left;
    padding: 10px;
}

/* left column */
.column.left1 {
    width: 25%;
}

/* right column */
.column.right1 {
    width: 35%;
}

/* make two top columns */
.column1 {
    float: left;
    padding: 10px;
}
/* style the floter */
.floter{
    background-color: #f3ce73;
    padding: 20px;
    text-align: center;
}
/* clear floats after the colums */
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* layout */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #2decb7;
    border: 1px solid #fe7362;
    box-shadow: 0 0 10px #f3ce73(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup p {
    margin: 0 0 10px;
}

.popup button {
    padding: 5px 10px;
}